.card {
    border: none;
  }
  
  .card .icon {
    color: #ffffff;
    background-color: #3b5998;
    border-radius: 50%;
    display: inline-block;
  }
  
  .btn-danger {
    background-color: #ff4d4d;
    border: none;
    border-radius: 3px;
    padding: 7px 16px;
  }

  .container{
   margin-bottom: 3rem;
  }