<div class="container mt-5 ">
    <h2 class="text-center mb-4">Servicios</h2>
    <div class="row justify-content-center">
      <!-- Preventistas -->
      <div class="col-md-3">
        <div class="card text-center mb-4">
          <div class="card-body">
            <img src="assets/revendedores.png" class="card-img-top" alt="Revendedores">
          </div>
        </div>
      </div>
      <!-- Revendedores -->
      <div class="col-md-3">
        <div class="card text-center mb-4">
          <div class="card-body">
            <img src="assets/preventistas.png" class="card-img-top" alt="Preventistas">
          </div>
        </div>
      </div>
      <!-- Compras en el local -->
      <div class="col-md-3">
        <div class="card text-center mb-4">
          <div class="card-body">
            <img src="assets/shopInLocal.png" class="card-img-top" alt="Compras en el local">
          </div>
        </div>
      </div>
      <!-- Medios de pago -->
      <div class="col-md-3">
        <div class="card text-center mb-4">
          <div class="card-body">
            <img src="assets/paymentMethod.png" class="card-img-top" alt="Metodos de pago">
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-danger" (click)="openWhatsApp()">Hacer un pedido</button>
    </div>
</div>
  