.card {
  border: none;
}

.card .icon {
  color: #ffffff;
  background-color: #3b5998;
  border-radius: 50%;
  display: inline-block;
}

.btn-danger {
  background-color: #e31800;
  border: none;
  border-radius: 3px;
  padding: 7px 16px;
}

.btn-danger:hover {
  opacity: 0.7; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agrega sombra al borde */
}

.container {
  margin-bottom: 4rem;
  margin-top: 4rem;

}


.carousel-inner img {
  width: 100%;
  max-height: 342px !important;
  object-fit: contain;
  /* Ajusta la imagen para que se ajuste al contenedor sin recortarse */
  max-height: 400px;
  /* Define una altura máxima para las imágenes */
}

.carousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.hover-opacity {
  transition: opacity 0.3s ease; /* Transición suave */
}

.hover-opacity:hover {
  opacity: 0.7; /* Ajusta la opacidad al hacer hover (0 completamente transparente, 1 completamente opaco) */
}