<footer class="footer">
    <div class="footer-content">
        <!-- Redes Sociales -->
        <div class="socials">
            <p>Seguinos en nuestras redes sociales</p>
            <div class="social-icons">
                <img src="/assets/facebook.png" alt="Facebook" class="social-icon">
                <img src="/assets/instagram.png" alt="Instagram" class="social-icon">
            </div>
        </div>

        <!-- Logo Central -->
        <div class="logo">
            <img  src="/assets/junayLogo.png"  alt="Logo Junay">
        </div>

        <!-- Contacto por WhatsApp -->
        <div class="whatsapp">
            <p>¿Tenés dudas? Envíanos un mensaje<br>por WhatsApp.</p>
            <button class="btn-whatsapp">Enviar mensaje</button>
        </div>
    </div>
</footer>
