<div class="conteiner">
  <h2 class="text-center mb-3">Marcas De Confianza Para Tu Negocio</h2>
  <p class="text-center text-muted">
    Porque sabemos que la calidad importa, trabajamos con estas marcas líderes para ayudarte a crecer.
  </p>
  <div id="marcasCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <img src="assets/maruchan.png" alt="Maruchan" class="d-block mx-3" style="height: 80px;">
          <img src="assets/castell.png" alt="Castell" class="d-block mx-3" style="height: 80px;">
          <img src="assets/cachamate.png" alt="Cachamate" class="d-block mx-3" style="height: 80px;">
          <img src="assets/parmesana.png" alt="La Parmesana" class="d-block mx-3" style="height: 80px;">
        </div>
      </div>
      <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <img src="assets/orieta.png" alt="Orieta" class="d-block mx-3" style="height: 80px;">
            <img src="assets/egipciana.png" alt="Egipciana" class="d-block mx-3" style="height: 80px;">
            <img src="assets/chacabuco.png" alt="Chacabuco" class="d-block mx-3" style="height: 80px;">
            <img src="assets/sucaryl.png" alt="sucaryl" class="d-block mx-3" style="height: 80px;">
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <img src="assets/cupnoodles.png" alt="cupnoodles" class="d-block mx-3" style="height: 80px;">
            <img src="assets/terragona.png" alt="terragona" class="d-block mx-3" style="height: 80px;">
            <img src="assets/mafalda.png" alt="mafalda" class="d-block mx-3" style="height: 80px;">
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <img src="assets/leiva.png" alt="leiva" class="d-block mx-3" style="height: 80px;">
            <img src="assets/elrey.png" alt="elrey" class="d-block mx-3" style="height: 80px;">
            <img src="assets/frau.png" alt="frau" class="d-block mx-3" style="height: 80px;">
          </div>
        </div>
    </div>
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#marcasCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#marcasCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>