.carousel-item img {
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item img:hover {
    transform: scale(1.1);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  

  .conteiner{
    background: #D9D9D933;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }