<div class="conteiner">
  <h2 class="text-center mb-3">Marcas De Confianza Para Tu Negocio</h2>
  <p class="text-center text-muted">
    Porque sabemos que la calidad importa, trabajamos con estas marcas líderes para ayudarte a crecer.
  </p>
  <div id="carouselExample" class="carousel slide carousel-constant">
    <div class="carousel-inner">
      <div class="carousel-track">
        <!-- Primer grupo de imágenes -->
        <div class="carousel-card">
          <img src="assets/parmesana.webp" alt="La Parmesana" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/chacabuco.webp" alt="Chacabuco" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/maruchan.webp" alt="Maruchan" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/castell.webp" alt="Castell" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/cachamate.webp" alt="Cachamate" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/sucaryl.webp" alt="Sucaryl" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/cupnoodles.webp" alt="cupnoodles" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/orieta.webp" alt="Orieta" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/egipciana.webp" alt="Egipciana" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/terragona.webp" alt="terragona" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/mafalda.webp" alt="mafalda" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/leiva.webp" alt="leiva" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/elrey.webp" alt="elrey" loading="lazy">
        </div>
        <div class="carousel-card">
          <img src="assets/frau.webp" alt="frau" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
