.footer {
    background-image: url('/assets/fondo.webp');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    height: 13rem;
    width: 100%;
}

.socials {
    margin-right: auto;
}

.logo {
    margin: 0 auto;
    text-align: center;
}

.whatsapp {
    margin-left: auto;
}

.socials, .logo, .whatsapp {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.social-icon {
    width: 24px;
    height: 24px;
}

.social-icon :hover{
    filter: brightness(0) saturate(100%) invert(9%) sepia(96%) saturate(4708%) hue-rotate(357deg) brightness(102%) contrast(119%);
}

.logo img {
    width: 20rem;
    height: 13rem;
    margin-bottom: 10px;
}

.whatsapp .btn-whatsapp {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.whatsapp .btn-whatsapp:hover {
    background-color: darkred;
}

/* ✅ Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos */
        text-align: center;
        height: auto; /* Ajusta la altura automáticamente */
        gap: 1.5rem; /* Espacio entre elementos */
    }

    .socials {
        margin: 0;
        order: 2; /* Redes van en segundo lugar */
    }

    .logo {
        margin: 0;
        order: 1; /* Logo va en primer lugar */
    }

    .whatsapp {
        margin: 0;
        order: 3; /* WhatsApp va en tercer lugar */
    }

    .logo img {
        width: 15rem;
        height: auto;
    }

   
}