<footer class="footer">
    <div class="footer-content">
        <!-- Redes Sociales -->
        <div class="socials">
            <p>Seguinos en nuestras redes sociales</p>
            <div class="social-icons">
                <img src="/assets/facebook.webp" alt="Facebook" class="social-icon" (click)="openFacebook()" loading="lazy">
                <img src="/assets/instagram.webp" alt="Instagram" class="social-icon" (click)="openInstagram()" loading="lazy">
            </div>
        </div>

        <!-- Logo Central -->
        <div class="logo">
            <img  src="/assets/junayLogo.webp"  alt="Logo Junay" loading="lazy">
        </div>

        <!-- Contacto por WhatsApp -->
        <div class="whatsapp">
            <p>¿Tenés dudas? Envíanos un mensaje<br>por WhatsApp.</p>
            <button class="btn-whatsapp" (click)="openWhatsApp()">Enviar mensaje</button>
        </div>
    </div>
</footer>
