.whatsapp-button {
    cursor: pointer;
    display: inline-block;
    background-color: #25D366; /* Color de WhatsApp */
    border-radius: 50%; /* Botón circular */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
  }
  
  .whatsapp-icon {
    width: 40px;
    height: 40px;
    display: block;
  }
  