<div class="container mt-5">
    <div class="row ">
        <!-- Formulario -->
        <div class="col-md-6 left-side">
            <form>
                <!-- Nombre -->
                <div class="mb-3">
                    <label for="nombre" class="form-label">Apellido y nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa apellido y nombre">
                </div>

                <!-- Correo Electrónico -->
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa correo electrónico">
                </div>

                <!-- Teléfono -->
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu teléfono">
                </div>

                <!-- Mensaje -->
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
                </div>

                <!-- Botón de envío -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>

        <!-- Información -->
        <div class="col-md-6 right-side text-center">
            <h2 class="mb-3">Contáctanos</h2>
            <p>Realizá tus pedidos o consultas fácilmente.</p>

            <h3>Dias y horarios de atención</h3>
            <p>Lunes a viernes: De 8:00 a 16:00</p>

            <h3>Horarios para retiro de pedidos</h3>
            <p>Lunes a viernes: De 8:00 a 16:00</p>
            <p>Recordá pactar previamente por WhatsApp</p>
        </div>
    </div>
</div>
