.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: none;
    border-radius: 17px;
}

.left-side {
    background-color: #1F207C;
    color: white;
    width: 30%;
}

.right-side {
    color: #333;
    width: 70%;
}

form {
    width: 100%;
}

form .form-control {
    width: 100%;
}

button {
    background-color: #E31800;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

h2, h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
}


.contact-icons {
    margin-top: 20px;
    align-items: baseline !important;
}

.contact-icons .icon {
    width: auto;
    height: 24px;
}

.contact-icons p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.contact-icons .d-flex {
    align-items: center;
}
