<div class="welcome-container">
  <div class="header">
    <div class="header-content">
      <div class="logo">
        <img src="assets/logoHeader.png" alt="Logo Junay">
      </div>

      <nav class="nav-menu">
        <a *ngFor="let link of links" href="#" class="nav-link" [ngClass]="{ active: activeLink === link.id }"
          (click)="onClickHeader(link.id)">
          {{ link.label }}
        </a>
        <a href="#" class="button-prices" [ngClass]="{ active: activeLink === 'lista-de-precios' }"
          (click)="onClickPrices()">
          Lista de precios
        </a>
      </nav>

    </div>
  </div>

  <div class="welcome-left">
    <h1>Tu distribuidora mayorista en Mar del Plata.</h1>
    <p>
      Más de 15 años distribuyendo las mejores marcas para comerciantes y
      revendedores.
    </p>
    <button (click)="onClickOferts()" class="cta-button">Ver ofertas actuales</button>
  </div>

  <div class="welcome-right">
    <img src="/assets/logo.png" alt="Logo de la distribuidora" />
  </div>
</div>