<div class="welcome-container">
    <div class="header">
        <div class="header-content">
          <div class="logo">
            <img src="assets/logoHeader.png" alt="Logo Junay">
          </div>
          <nav class="nav-menu">
            <a href="#" class="nav-link active">Inicio</a>
            <a href="#" class="nav-link">Servicios</a>
            <a href="#" class="nav-link">Quiénes somos</a>
            <a href="#" class="nav-link">Contacto</a>
            <a href="#" class="button-prices">Lista de precios</a>
          </nav>
        </div>
      </div>

    <div class="welcome-left">
        <h1>Tu distribuidora mayorista en Mar del Plata.</h1>
        <p>
            Más de 15 años distribuyendo las mejores marcas para comerciantes y
            revendedores.
        </p>
        <button class="cta-button">Ver ofertas actuales</button>
    </div>

    <div class="welcome-right">
        <img src="/assets/logo.png" alt="Logo de la distribuidora" />
    </div>
</div>