/* Estilos generales */
.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: none;
    border-radius: 17px;
}

.left-side {
    background-color: #1F207C;
    color: white;
    width: 30%;
}

.right-side {
    color: #333;
    width: 70%;
}

form {
    width: 100%;
}

form .form-control {
    width: 100%;
}

button {
    background-color: #E31800;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

h2, h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
}

.contact-icons {
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.contact-icons .icon {
    width: auto;
    height: 24px;
}

.contact-icons p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.contact-icons .d-flex {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos específicos para móviles */
@media (max-width: 997px) {
    .row.mobile-view {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-side {
        display: none; /* Ocultar formulario */
    }

    .right-side {
        width: 100%;
        padding: 2rem;
    }

    .contact-icons {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .contact-icons .d-flex {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 0  !important;
    }

    .container {
        padding: 20px;
    }

    h2, h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
