<div class="container mt-5">
    <div class="row align-items-center">
      <!-- Columna del texto -->
      <div class="col-md-6">
        <h2 class="mb-3">Sobre nosotros</h2>
        <p class="text-muted">
          Junay es una distribuidora mayorista de alimentos no perecederos con una larga trayectoria en el mercado. Nos orientamos a comerciantes y revendedores, ofreciendo atención personalizada en (lugares de alrededores).
        </p>
      </div>
      <!-- Columna de la imagen -->
      <div class="col-md-6 text-center">
        <img src="/assets/us.png" alt="Sobre nosotros" class="img-fluid">
      </div>
    </div>
  </div>
  